.container {
  height: 100vh;
  margin: 0 10px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
  flex-direction: column;
}

.iconContainer svg {
  height: 40%;
  width: 40%;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.iconContainer:hover > svg {
  transform: scale(1.4);
}

.iconContainer:not(:hover) > svg {
  transition-delay: 0.3s;
  transform: scale(1);
}

.name {
  text-align: center;
  cursor: default;
  color: #0a0a0a;
}

.technologyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.technologyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.load {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 5px solid #e3e3e3;;
  border-radius: 50%;
}

.load>svg {
  transition: transform 0.3s ease-in-out;
}

.load:hover>svg {
  transform: scale(1.4);
}

.load:not(:hover)>svg {
  transition-delay: 0.3s;
  transform: scale(1);
}

.rotateContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon {
  width: 50px;
  height: 50px;
}


@media only screen and (max-width: 480px) {
  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }

  .title {
    font-size: 18px;
  }

  .iconContainer {
    width: 70px;
    height: 70px;
  }

  .name {
    font-size: 10px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .technologyContainer {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
  }

  .technologyItem {
    margin-right: 0;
  }

  .load {
    width: 60px;
    height: 60px;
    position: relative;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .iconContainer {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 12px;
  }

  .load {
    width: 70px;
    height: 70px;
    position: relative;
    top: 0;
  }

  .technologyContainer{
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .iconContainer {
    width: 130px;
    height: 130px;
  }

  .name {
    font-size: 14px;
  }

  .load {
    width: 90px;
    height: 90px;
    position: relative;
    top: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .container {
    height: auto;
  }

  .containerGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .iconContainer {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 16px;
  }

  .load {
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

  .containerGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .iconContainer {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 16px;
  }

  .load {
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
  }
}