.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.description {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-left: 20%;
}

.description p {
  text-align: right;
  color: #e3e3e3;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 15px;
}


.title {
  display: flex;
  align-items: center;
  z-index: 1;
}

.title h2 {
  color: #C0C0C0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.home h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  letter-spacing: -5px;
  font-style: normal;
  font-size: 105px;
  color: #ffffff;
  line-height: 80px;
  margin: 0;
}

.role2 {
  margin-top: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .home h1 {
    font-size: 55px;
    line-height: 45px;
  }

  .content {
    width: 90%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .description {
    justify-content: center;
    margin-left: 0;
  }

  .description p {
    text-align: center;
    font-size: 10px;
  }

  .title {
    justify-content: center;
  }

  .title h2 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 766px) {

  .content{
    width: 90%;
  }

}