.containerItem {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #ffffff;
    margin: 0 10px 0 10px;
    border-radius: 0 0 10px 10px;
}

.btnItem {
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #2e8e9c;
}

.btnItem:hover {
    color: #636363;
}

.btnItem span {
    font-size: 2em;
}

.descriptionContainer {
    width: 50%;
    background: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title {
    position: relative;
    top: 100px;
    z-index: 1;
}

.btnContainer {
    display: flex;
    position: relative;
    bottom: 100px;
    justify-content: center;
}

.imgContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imgProject {
    display: block;
    max-width: 75%;
    max-height: 75%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;
}

.imgProject:hover {
    transform: scale(1.05);
}

.imgProject:not(:hover) {
    transition-delay: 0.3s;
    transform: scale(1);
}

.link {
    border: none;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #ececec;
    cursor: pointer;
    margin-right: 20px;
    background: #2e8e9c;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    outline: none;
}

.link:hover {
    transform: scale(1.05);
    background-color: #4894a0;
}

.content h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: #141010;
}

.content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #141010;
    display: flex;
    align-items: center;
}

.keyword {
    color: blue;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {

    .containerItem {
        flex-direction: column;
        height: auto;
    }

    .container {
        height: 50%;
    }

    .content {
        height: 50%;
    }

    .link {
        margin: 0;
        text-align: center;
    }

    .btnItem {
        text-align: center;
    }

    .btnContainer {
        gap: 5px;
        margin: 15px;
        position: static;
    }

    .title {
        text-align: center;
        font-size: 20px;
        position: static;
    }

    .imgContent:hover img {
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 768px) and (max-width: 926px) {
    .containerItem {
        flex-direction: column;
        height: auto;
    }

    .container {
        height: 50%;
    }

    .content {
        height: 50%;
    }

    .link {
        margin: 0;
        text-align: center;
    }

    .btnItem {
        text-align: center;
    }

    .btnContainer {
        gap: 15px;
        margin: 25px;
        position: static;
    }

    .title {
        text-align: center;
        position: static;
    }

    .imgContent:hover img {
        transform: scale(1.05);
    }
}