.contactPage {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon {
  width: 70%;
  height: 70%;
  color: #FFEDB3;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon:hover {
  transform: translateY(-5px) scale(1.08);
  color: #ffffff;
}